{% extends "base.html" %}
{% block title %}
<title>서비스 사용 차단 회원 목록</title>
{% endblock %}
{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('admin_dashboard') }}">알레르기 및 질병 맞춤형 건강기능식품 추천 서비스</a>
        <div style="float:right;">
            <span style="color:#fff;" class="me-3">환영합니다, 관리자 님! </span>
            <a href="/logout" class="btn btn-danger">로그아웃</a>
        </div>
    </div>
</nav>
{% endblock %}
{% block body %}
<div class="container mt-4">
    <a href="{{ url_for('member_management') }}" style="text-decoration: none; color: black; "><h2>회원 관리</h2></a>
    <div class="d-flex justify-content-between align-items-center" 
         style="max-width: 260px; font-size: 14px; padding: 6px 12px; 
                background-color: #e9f7fc; border-radius: 8px; margin-bottom: 15px;">
    <!-- 가입승인 대기 회원수 텍스트 -->
    <span style="color: #5a5a5a; margin-right: 10px; letter-spacing: 1px;">서비스 차단 회원 수:</span>
    <!-- 회원 수 -->
    <span style="font-size: 14px; color: #1e3a8a; font-weight: bold; 
                         margin-right: 5px; text-align: right; width: 50px;">
                {{ number }}명
    </span>
        <i class="fas fa-user-times text-danger" style="font-size: 18px; color: #e60000;"></i>
    </div>    
    <h2 style = "text-align : center;">서비스 사용 차단 회원 목록</h2><br>
    {% if not members %}
    <h2 style = "text-align : center">서비스 사용 차단된 회원이 없습니다</h2>
    {% endif %}
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th style="text-align:center;width:150px;">번호</th>
                        <th style="text-align:center;width:150px;">아이디</th>
                        <th style="text-align:center;width:150px;">이름</th>
                        <th style="text-align:center;width:150px;">생년원일</th>
                        <th style="text-align:center;width:150px;">이메일</th>
                        <th style="text-align:center;width:150px;">서비스사용권한</th>
                        <th style="text-align:center;width:150px;">강제탈퇴</th>
                    </tr>
                </thead>
                <tbody>
                {% for member in members %}
                    <tr>
                        <td style="text-align:center;width:150px;">{{ loop.index }}</td>
                        <td style="text-align:center;width:150px;">{{ member.userid }}</td>
                        <td style="text-align:center;width:150px;">{{ member.username }}</td>
                        <td style="text-align:center;width:150px;">{{ member.birthday }}</td>
                        <td style="text-align:center;">{{ member.email }}</td>
                        <td style="text-align:center;">
                            <form action="/toggle_service_permission/{{ member.userid }}" method="POST" onsubmit="return confirmBlock(this)">
                                <!-- can_service값을 서버로 전송 -->
                                <input type="hidden" name="can_service" value="{{ member.can_service }}"> 
                                <button type="submit" class="btn btn-warning btn-sm">
                                    {% if member.can_service == 0 %}
                                        서비스사용허가
                                    {% endif %}
                                </button>
                            </form>
                        </td>
                        <td style="text-align:center;">
                            <form action="/admin/remove_member/{{ member.userid }}" method="GET" onsubmit="return confirmDeletion()">
                                <button type="submit" class="btn btn-danger btn-sm">탈퇴사유작성</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    // 서비스 사용 권한 변경을 위한 경고창
    function confirmBlock(form) {
        var canService = form.querySelector('input[name="can_service"]').value;
        if (canService == "0") {
            return confirm("정말로 이 회원의 서비스를 허용 하겠습니까?");
        }
    }

    // 회원 강퇴 경고창
    function confirmDeletion() {
        return confirm("정말로 이 회원을 탈퇴시키겠습니까?");
    }
</script>
{% endblock %}