{% extends "base.html" %}
{% block title %}<title>건강상태 및 기능 선택</title>{% endblock %}
{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container d-flex justify-content-between align-items-center">
        <a class="navbar-brand" href="{{ url_for('dashboard') }}">알레르기 및 질병 맞춤형 건강기능식품 추천 서비스</a>
        <div style="display: flex; align-items: center;">
            <span style="color:#fff;" class="me-3">환영합니다, {{ member.username }} 님!</span>
            <a href="/logout" class="btn btn-danger me-2">로그아웃</a>
            <form action="{{ url_for('self_delete_member', userid=member.userid) }}" method="GET" style="margin: 0;">
                <button type="submit" class="btn btn-warning">회원탈퇴</button>
            </form>
        </div>
    </div>  
</nav>
{% endblock %}
{% block body %}
<div class="container mt-4">
    <h2 class="text-center mb-4">건강상태 및 기능 선택</h2>
    <form action="{{ url_for('start_service', userid=member.userid) }}" method="POST">
        <div class="card shadow-lg border-0 mb-4" style="background: #f2f2f2; border-radius: 15px;">
            <div class="card-body">
                <h3 class="card-title">1. 건강상태 체크</h3>
                <p>당신의 건강상태 및 질병, 약물 복용 중일 경우 해당하는 항목을 선택하세요.(중복선택가능)</p>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="약물" id="health-1" name="health_status">
                    <label class="form-check-label" for="health-1">
                        약물복용중
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="설사" id="health-2" name="health_status">
                    <label class="form-check-label" for="health-2">
                        설사
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="위장 장애" id="health-3" name="health_status">
                    <label class="form-check-label" for="health-3">
                        위장 장애
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="혈당" id="health-4" name="health_status">
                    <label class="form-check-label" for="health-4">
                        고혈당/저혈당
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="알레르기" id="health-5" name="health_status">
                    <label class="form-check-label" for="health-5">
                        알레르기
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="혈액" id="health-5" name="health_status">
                    <label class="form-check-label" for="health-6">
                        혈관질환
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="임산부" id="health-5" name="health_status">
                    <label class="form-check-label" for="health-7">
                        임산부
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="비만" id="health-5" name="health_status">
                    <label class="form-check-label" for="health-8">
                        고혈압
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="불면증" id="health-5" name="health_status">
                    <label class="form-check-label" for="health-9">
                        불면증
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="피부" id="health-5" name="health_status">
                    <label class="form-check-label" for="health-10">
                        피부질환
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="간" id="health-5" name="health_status">
                    <label class="form-check-label" for="health-11">
                        간질환
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="두통" id="health-5" name="health_status">
                    <label class="form-check-label" for="health-12">
                        두통
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="당뇨" id="health-2" name="health_status">
                    <label class="form-check-label" for="health-13">
                        당뇨
                    </label>
                </div>
            </div>
        </div>

        <div class="card shadow-lg border-0 mb-4" style="background: #f2f2f2; border-radius: 15px;">
            <div class="card-body">
                <h3 class="card-title">2. 기능성식품 기능 선택</h3>
                <p>필요한 기능성식품을 선택하세요.(중복선택가능)</p>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="항산화" id="functionality-1" name="product_functionality">
                    <label class="form-check-label" for="functionality-1">
                        항산화
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="소화" id="functionality-2" name="product_functionality">
                    <label class="form-check-label" for="functionality-2">
                        소화건강
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="심혈관" id="functionality-3" name="product_functionality">
                    <label class="form-check-label" for="functionality-3">
                        심혈관 건강
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="피부" id="functionality-4" name="product_functionality">
                    <label class="form-check-label" for="functionality-4">
                        피부 건강
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="피로" id="functionality-5" name="product_functionality">
                    <label class="form-check-label" for="functionality-5">
                        피로 건강
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="체중" id="functionality-5" name="product_functionality">
                    <label class="form-check-label" for="functionality-6">
                        체중 관리
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="기타" id="functionality-5" name="product_functionality">
                    <label class="form-check-label" for="functionality-7">
                        기타
                    </label>
                </div>
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg">추천 제품 보기</button>
            <a href="{{ url_for('dashboard') }}" class="btn btn-secondary btn-lg">홈페이지</a>
        </div>
    </form>
    <div class="container mt-4">
    </div>
</div>
{% endblock %}
